<%- include('head', {page: page}) %>

<h1>Wind forecasts</h1>
<button type="button" name="switch-light-dark" id="switch-light-dark">Night mode</button>

<h2>Spot: <%= windfinder.spot %></h2>
<h4>Windfinder</h4>
<table>
  <thead>
    <tr>
      <th class="model-name">gfs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Local time</th>
      <% for(let i=0; i < windfinder.time.length; i++) { %>
        <td><%= windfinder.time[i] %></td>
      <% } %>
    </tr>
    <tr>
      <th>Winddirection</tdh>
        <% for(let i=0; i < windfinder.winddirection.length; i++) { %>
          <td><img src="img/arrow.svg" alt="wind-direction-arrow" style="transform: rotate(<%= windfinder.winddirection[i] %>deg)"></td>
        <% } %>
    </tr>
    <tr>
      <th>Average windspeed</th>
      <% for(let i=0; i < windfinder.windspeed.length; i++) { %>
        <td><%= windfinder.windspeed[i] %></td>
      <% } %>
    </tr>
    <tr>
      <th>Wind gusts</th>
      <% for(let i=0; i < windfinder.windgust.length; i++) { %>
        <td><%= windfinder.windgust[i] %></td>
      <% } %>
    </tr>
  </tbody>
</table>

<h4>Windguru</h4>
<% function renderWindguru(model) { %>
  <table>
    <thead>
      <tr>
        <th class="model-name"><%= model %></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Local time</th>
        <% for(let i=0; i < windguru[model].time.length; i++) { %>
            <td><%= windguru[model].time[i] %></td>
        <% } %>
      </tr>
      <tr>
        <th>Winddirection</tdh>
          <% for(let i=0; i < windguru[model].winddirection.length; i++) { %>
            <td><img src="img/arrow.svg" alt="wind-direction-arrow" style="transform: rotate(<%= windguru[model].winddirection[i] %>deg)"></td>
          <% } %>
      </tr>
      <tr>
        <th>Average windspeed</th>
        <% for(let i=0; i < windguru[model].windspeed.length; i++) { %>
          <td><%= windguru[model].windspeed[i] %></td>
        <% } %>
      </tr>
      <tr>
        <th>Wind gusts</th>
        <% for(let i=0; i < windguru[model].windgust.length; i++) { %>
          <td><%= windguru[model].windgust[i] %></td>
        <% } %>
      </tr>
    </tbody>
  </table>
<% } %>

<%- renderWindguru('harmonie') %>
<%- renderWindguru('cosmo') %>
<%- renderWindguru('icon7') %>
<%- renderWindguru('icon13') %>
<%- renderWindguru('gfs') %>
<%- renderWindguru('wrf') %>


<% include tail %>
