<%- include('head', {page: page}) %>

<h1>Wind forecasts</h1>

<h2>Spot: <%= windfinder.spot %></h2>
<!--h3>Date: <%= windfinder.date[0] %></h3>-->

<h4>Source: Windfinder</h4>
<table>
  <thead>
    <tr>
      <th>Date</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Local time</th>
      <% for(let i=0; i < windfinder.time.length; i++) { %>
        <td><%= windfinder.time[i] %></td>
      <% } %>
    </tr>
    <tr>
      <th>Winddirection</tdh>
        <% for(let i=0; i < windfinder.winddirection.length; i++) { %>
          <td><img src="img/arrow.svg" alt="wind-direction-arrow" style="transform: rotate(<%= windfinder.winddirection[i] %>deg)"></td>
        <% } %>
    </tr>
    <tr>
      <th>Average windspeed</th>
      <% for(let i=0; i < windfinder.windspeed.length; i++) { %>
        <td><%= windfinder.windspeed[i] %></td>
      <% } %>
    </tr>
    <tr>
      <th>Wind gusts</th>
      <% for(let i=0; i < windfinder.windgust.length; i++) { %>
        <td><%= windfinder.windgust[i] %></td>
      <% } %>
    </tr>
  </tbody>
</table>

<% include tail %>
